<style>

  @media(max-width: 399px) {

    #sec p
    {
      position: relative;
      left: 25%;
      bottom: 72px;
      font-size: 16px !important;
      /*border: 1px solid red;*/
      width: 150px;
      margin-bottom:-10px !important;
    }

    #sec img{
      width: 70px !important;
      height: 70px !important;
      margin-left:;
    }

  }

  @media (min-width: 400px) {

    #sec
    {
      position: relative;
      /*border: 1px solid orange;*/
    }

    #sec div{
      /*border: 1px solid red !important;*/
      width: inherit !important;
      position: absolute !important;
      left: 20%!important;
      top: 0px;
      padding-top: 0px;
    }

    @media(min-width: 600px)
    {
      .icon{
        font-size: 95px !important;
        font-weight: normal !important;
        position: absolute !important;
        top: -4px !important;
      }
    }


    #sec div p
    {
      color: #566573;
      font-size: 18px;
      margin: 0 0 10px 0 !important;
      font-family: "Neue Helvetica";
      clear: both;
      /*position: relative !important;
      left: 2% !important;
      border: 1px solid red !important;*/
    }

    p{font-size: 16px}

  }

  #sec img{
    width: 50px !important;
    height: 50px !important;
    margin-left: 5%;
  }
  .back
  {
    background-color:#FBFCFC;
  }


  section
  {
    height: 80px!important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdbdbd;
    padding-bottom: 15px !important;
  }


  p{color: #566573;}

  .button
  {
    /*margin-top: 15px !important;*/
    background-color: #A93226 !important;
    border-radius: 5px;
    /*width: 150px;*/
    text-align: center;
  }

  .divb
  {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    /*border: 1px solid red !important;*/
    padding-left: 5px !important;
  }

  .padd{padding-left: 5%; padding-right: 5%;}

  #logout
  {
    position: absolute !important;
    bottom: 10px !important;
    left: 75% !important;
    /*border: 1px solid red !important;*/
    height: 30px;
    width: 80px;
    border-radius: 5px;
    color: #fff;
    background-color: #A93226;
    border: none !important;
    font-weight: bold;
  }

  #info{
    border: 1px solid #424242;
    border-radius: 5px;
  }

  .p{
    font-size: 14px !important;
    margin: 0px;
  }
  .cabecalho{border-bottom: 1px solid #424242;}
  .cabecalho p
  {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
  }


</style>


<ion-header>

  <ion-navbar>
    <ion-title>Recarregar</ion-title>
    <button ion-button  outline id="logout" (click)="logout()">Sair</button>
  </ion-navbar>

</ion-header>


<ion-content padding class="back padd">

  <section id="sec">
    <img src="../../assets/imgs/marie-curie.jpeg" class="perfil">
    <div>
      <p>Marie Curie</p>
      <p>Química</p>
      <p>20015008899</p>
    </div>
  </section>

  <section >
    <ion-list id="info">
      <ion-list-header class="cabecalho">
        <p>NO QUEUE</p>
        <ion-icon ios="ios-card" md="md-card" item-right></ion-icon>
        <ion-icon ios="ios-calendar-calenmd-calendar" item-right></ion-icon>
      </ion-list-header>

      <ion-item>
        <ion-label fixed>Nome:</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>cpf:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed>Matrícula:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label fixed="">Saldo: R$</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed="">Valor: R$</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label>Nº cartão:</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

    </ion-list>
    <div class="divb">
      <button ion-button full>SALVAR</button>
    </div>
  </section>

</ion-content>

